@mixin hover() {
  transition-duration: 0.3s;
  transition-property: opacity;

  &:hover {
    opacity: 0.7;
  }
}

$breakpoints: (
  'pc': 'screen and (min-width: 796px)',
  'sp': 'screen and (max-width: 500px)',
);

@mixin breakPoint($key) {
  @media #{map-get($breakpoints, $key)} {
    @content;
  }
}
