// color
$white: #fff;
$black: #000;

$main-dark: #23bda7;
$main: #57dcc9;
$main-light: #e0f6f3;

$red: #dc576a;

$blue: #5784dc;

$yellow: #dccf57;

//font-weight
$font-regular: 400;
$font-bold: 700;
