@use '../../styles/variables';

.card {
  position: relative;
  box-sizing: border-box;
  height: 400px;
  cursor: pointer;
}

.cardInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  overflow: scroll;
  word-break: break-all;
  background: variables.$white;
  border-radius: 20px;
  box-shadow: 0 3px 5px 5px rgba(variables.$black, 0.1);
  transition: all 1s ease;
  backface-visibility: hidden;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  &.isFlipped {
    transform: rotateX(180deg);
  }
}

.frontText {
  display: block;
  font-size: 40px;
  font-weight: variables.$font-bold;
  text-align: center;
}

.back {
  transform: rotateX(180deg);

  &.isFlipped {
    transform: rotateX(0deg);
  }
}

.phoneticsList {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.phoneticsItem {
  font-size: 20px;
  color: #a0a0a0;
  text-align: center;

  &:not(:last-child)::after {
    margin: 0 10px;
    content: 'or';
  }
}
