@use '../../styles/variables';
@use '../../styles/mixin';

.heading {
  display: flex;
  column-gap: 15px;
  justify-content: center;

  @include mixin.breakPoint('sp') {
    flex-direction: column;
    row-gap: 5px;
  }
}

.headingText {
  font-size: 18px;
  font-weight: variables.$font-bold;

  @include mixin.breakPoint('sp') {
    font-size: 14px;
  }
}

.partOfSpeech {
  font-size: 18px;

  @include mixin.breakPoint('sp') {
    font-size: 14px;
  }
}

.itemLarge {
  margin-top: 45px;

  @include mixin.breakPoint('sp') {
    margin-top: 30px;
  }

  &:first-child {
    margin-top: 0;
  }
}

.list {
  margin-top: 30px;

  @include mixin.breakPoint('sp') {
    margin-top: 20px;
  }
}

.item {
  position: relative;
  padding: 25px 15px;
  margin-top: 30px;
  border: 1px solid variables.$main;
  border-radius: 10px;

  &:first-child {
    margin-top: 0;
  }

  @include mixin.breakPoint('sp') {
    padding: 15px 10px;
  }
}

.number {
  position: absolute;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  font-size: 16px;
  color: variables.$white;
  background: variables.$main;
  border-radius: 50%;

  @include mixin.breakPoint('sp') {
    top: -5px;
    left: -5px;
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}

.row {
  margin-top: 25px;

  &:first-child {
    margin-top: 0;
  }
}

.title {
  font-size: 16px;
  font-weight: variables.$font-bold;

  @include mixin.breakPoint('sp') {
    font-size: 14px;
  }
}

.definition {
  margin-top: 10px;
  font-size: 16px;

  @include mixin.breakPoint('sp') {
    font-size: 14px;
  }
}
