@use '../../styles/variables';

.button {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: variables.$font-bold;
  color: variables.$white;
  background-color: variables.$blue;
  border-radius: 10px;

  &.isWarning {
    background-color: variables.$red;
  }
}
