@use '../../styles/variables';

.item {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }
}

.link {
  position: relative;
  display: block;
  width: 100%;
  padding: 26px 30px 25px;
  font-size: 20px;
  background: variables.$white;
  border-radius: 10px;
  box-shadow: (0 4px 3px 2px rgba(variables.$black, 0.1));

  &::before {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 40px;
    height: 40px;
    content: '';
    background-image: url('/icons/black/arrow_right.svg');
    transform: translateY(-50%);
  }
}
