@use '../../styles/variables';
@use '../../styles/_mixin';

.item {
  position: relative;
  width: calc(50% - 10px);
  height: 80px;
  word-break: break-all;

  &:first-child {
    margin-top: 0;
  }

  @include mixin.breakPoint('sp') {
    width: 100%;
    height: 60px;
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 55px 0 50px;
  font-size: 20px;
  line-height: 1;
  background: variables.$white;
  border-radius: 10px;
  box-shadow: (0 4px 3px 2px rgba(variables.$black, 0.1));

  @include mixin.breakPoint('sp') {
    font-size: 16px;
  }

  &::before {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 40px;
    height: 40px;
    content: '';
    background-image: url('/icons/black/arrow_right.svg');
    transition-duration: 0.3s;
    transition-property: right;
    transform: translateY(-50%);
  }

  &:hover {
    &::before {
      right: 10px;
    }
  }

  &.isEdit {
    display: flex;
    justify-content: space-between;

    &::before {
      content: none;
    }
  }
}

.checkbox {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid variables.$main;
  border-radius: 5px;
  transform: translateY(-50%);

  @include mixin.breakPoint('sp') {
    width: 16px;
    height: 16px;
  }

  &:checked {
    background-image: url('/icons/main/check.svg');
    background-position: center;
    background-size: 14px;
  }
}
