@use '../../styles/variables';

.button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 10px 0 30px;
  font-size: 20px;
  background: variables.$white;
  border-radius: 10px;
  box-shadow: (0 4px 3px 2px rgba(variables.$black, 0.1));

  &::before {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 40px;
    height: 40px;
    content: '';
    background-image: url('/icons/black/arrow_right.svg');
    transform: translateY(-50%);
  }

  &.isEdit {
    display: flex;
    justify-content: space-between;

    &::before {
      content: none;
    }
  }
}

.item {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }
}

.actionBox {
  display: flex;
  height: 100%;
}

.iconButton {
  width: 60px;
  height: 100%;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;

  &.isEdit {
    background-image: url('/icons/yellow/edit.svg');
  }

  &.isDelete {
    background-image: url('/icons/red/delete.svg');
  }
}

.heading {
  display: flex;
  justify-content: center;
}

.headingText {
  font-size: 18px;
  font-weight: variables.$font-bold;
}

.partOfSpeech {
  margin-left: 15px;
  font-size: 18px;
}

.itemLarge {
  margin-top: 45px;

  &:first-child {
    margin-top: 0;
  }
}

.listMedium {
  margin-top: 30px;
}

.itemMedium {
  position: relative;
  padding: 25px 15px;
  margin-top: 30px;
  border: 1px solid variables.$main;
  border-radius: 10px;

  &:first-child {
    margin-top: 0;
  }
}

.number {
  position: absolute;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  font-size: 16px;
  color: variables.$white;
  background: variables.$main;
  border-radius: 50%;
}

.row {
  margin-top: 25px;

  &:first-child {
    margin-top: 0;
  }
}

.title {
  font-size: 16px;
  font-weight: variables.$font-bold;
}

.definition {
  margin-top: 10px;
  font-size: 16px;
}
