@use './styles/variables';

.headingBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 880px;
  margin: 0 auto;
}

.actionBox {
  display: flex;
}

.actionBoxButton {
  margin-left: 25px;
  &:first-child {
    margin-left: 0;
  }
}

.buttonBox {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.button {
  display: block;
  width: 400px;
  padding: 25px 0;
  font-size: 20px;
  font-weight: variables.$font-bold;
  color: variables.$white;
  text-align: center;
  background: variables.$blue;
  border-radius: 10px;
}

.row {
  display: flex;
}

.input {
  flex-grow: 1;
}

.add {
  padding: 15px 20px;
  margin-left: 30px;
  font-size: 16px;
  font-weight: variables.$font-bold;
  color: variables.$white;
  background: variables.$blue;
  background-color: variables.$blue;
  border-radius: 10px;
}
