@use './styles/variables';

.headingBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 880px;
  margin: 0 auto;
}

.actionBox {
  display: flex;
}

.actionBoxButton {
  margin-left: 25px;
  &:first-child {
    margin-left: 0;
  }
}

.row {
  display: flex;
}

.input {
  flex-grow: 1;
}

.addButton {
  margin-left: 30px;
}

.deleteMessage {
  text-align: center;
}

.deleteButton {
  display: flex;
  justify-content: center;
  margin-top: 26px;
}
