@use './styles/variables';
@use './styles/mixin';

.actionBox {
  display: flex;
  gap: 25px;
  max-width: 700px;
  margin: 0 auto;

  @include mixin.breakPoint('sp') {
    gap: 15px;
  }
}

.row {
  display: flex;
}

.input {
  flex-grow: 1;
}

.addButton {
  margin-left: 30px;
}

.deleteMessage {
  text-align: center;
}

.deleteButton {
  display: flex;
  justify-content: center;
  margin-top: 26px;
}

.noWordsText {
  text-align: center;
}
