@use '../styles/variables';

.swiper {
  position: relative;
  display: flex;
}

.slide {
  opacity: 0.3;
  transition: 0.7s;
  transform: scale(0.8);
  .isActive {
    z-index: 1;
    opacity: 1;
    transform: scale(1);
  }
}

.button {
  // position: absolute;
  // top: 50%;
  // left: -10px;
  width: 86px;
  height: 86px;
  background: variables.$main-dark;
  border-radius: 50%;
  // transform: translateY(-50%);
}
