@use '../../styles/variables';
@use '../../styles/mixin';

.button {
  display: block;
  width: 400px;
  padding: 25px 0;
  font-size: 20px;
  font-weight: variables.$font-bold;
  color: variables.$white;
  text-align: center;
  background: variables.$blue;
  border-radius: 10px;
  @include mixin.hover;

  @include mixin.breakPoint('sp') {
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
  }
}
