@use '../../styles/variables';
@use '../../styles/_mixin';

.main {
  display: block;
  flex-grow: 1;
  padding: 70px 30px;
  background-color: variables.$main-light;
  border-radius: 50px 50px 0 0;

  @include mixin.breakPoint('sp') {
    padding-top: 30px;
  }
}
